body, html {
    height: 90%;
}

.bgimg-1 {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
    background-image: url('/img/bg1.jpg');
    min-height: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1 {
        background-attachment: scroll;
    }
}

.img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto auto;
}

.outer {
  /*width: 200px;
  height: 200px;*/
  /*float: left;
  flex-wrap: wrap;*/
  display: inline-block;
  margin: 2px;
}

.outer:nth-child(5n+1) {
  clear: both;
}

.inner {
  background-position: center;
  background-size: cover;
  display: table-cell;
  height: 200px;
  width: 200px;
  vertical-align: middle;
}

.element {
  font-size: 35px;
  color: white;
  background: grey;
  border-radius: 5px;
  padding: 0.2em;
}

.display-middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#abroad {
  padding-top: 2em;
  padding-bottom: 2em;
}
